<div class="body">
<div class="container">
<div id="banner" class="hidden-xs">
	<%= image_tag("banner",  alt: "Programmer")%>
</div>
<div id="projects">
 <h2>My recent Projects</h2>
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="#"><div id="afrinames"><span>AfriNames</span></div></a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="#"><div id="afrinames"><span>AfriNames</span></div></a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="#"><div id="afrinames"><span>AfriNames</span></div></a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="#"><div id="afrinames"><span>AfriNames</span></div></a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="#"><div id="afrinames"><span>AfriNames</span></div></a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="#"><div id="afrinames"><span>AfriNames</span></div></a>
		</div>
	</div><!-- end of row-->
</div><!--end of class projects-->

</div><!--end of container for projects-->
<div class="Aboutme">
<div class="container">
<div>

<h2>About me</h2>
<div class= "row">
<div id="skills" class=" col-md-6">
<h3> Skills</h3>


	
</div>
<div id="story" class="col-md-6">
<h3>Education</h3>
<h4>Rails Specialization (on going)</h4>
<h5>John Hopkins University</h5>
<p>This course covers the fundamentals of web development with Ruby on Rails.
It also covers advanced topics such as security, services using HTTP/RESTful access patterns, and user access and user experience from multiple device <br>
</p>
<p>_________________________________</p>
<h4> B.Sc. Business Information Tech (2011)</h4>
<h5>Strathmore University</h5>
<p>This course encompasses areas of computer science,  information systems, Business, Financial Management and IT management</p>
	
</div>
	
</div><!--end of row-->
</div>
</div><!-- end of aboutme container-->
	
</div><!-- end of about me-->
</div>
